html {
    cursor: url('redbullresize1.png'), pointer;
}

.resizable {
  resize: both;
  overflow: scroll;
  border: 1px solid black;
}

div {
  height: 300px;
  width: 300px;
}

p {
  height: 200px;
  width: 200px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(pingusnow.jpeg)
}
