body {
  background-color: black
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:black;
  padding: 10px;
}
.grid-item {
  background-color:gold;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box {
  background-color:darkorange;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box1 {
  background-color:green;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box2 {
  background-color:darkviolet;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box3 {
  background-color:darkturquoise;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box4 {
  background-color:darkblue;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box5 {
  background-color:orchid;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold
  font-family:monospace;
  text-align: center;
}
.box6 {
  background-color:maroon;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box7 {
  background-color:purple;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
